# ===============================
# Allow git control file
# ===============================
!.gitignore

# ===============================
# Ignore everything by default
# ===============================
*

# ===============================
# Allow backend source code
# ===============================
!backend/
!backend/**

# ===============================
# Ignore Python cache (inside backend)
# ===============================
backend/**/__pycache__/
backend/**/*.pyc

# ===============================
# Virtual environment
# ===============================
backend/venv/

# ===============================
# ML models (VERY LARGE)
# ===============================
*.keras
*.h5
*.pt
*.onnx

# ===============================
# Runtime / generated folders
# ===============================
backend/debug_crops/
backend/results/
backend/students/
backend/uploads/
backend/instance/

# ===============================
# Generated static files
# ===============================
backend/static/uploads/
backend/static/*.png
backend/static/*.jpg
backend/static/*.jpeg
backend/static/*.pdf
backend/static/*.xlsx

# ===============================
# Database
# ===============================
*.db

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db
